<div class="container" *ngIf="course">
    <h1>{{course.name}}</h1>
    <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" 
                  class="form-control" 
                  id="name" 
                  name="name"
                  [(ngModel)]="course.name"
                  required
                  #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Please write a name
            </div>
        </div>
        <div class="form-group">
            <label for="startingDate">Starting date</label>
            <span appMyDateStatus [date]="course.startingDate" class="badge">&nbsp;</span>
            <input type="date" 
                  class="form-control" 
                  id="startingDate" 
                  name="startingDate"
                  [(ngModel)]="course.startingDate"
                  required
                  #startingDate="ngModel">
            <div [hidden]="startingDate.valid || startingDate.pristine" class="alert alert-danger">
              Please select a starting date
            </div>
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="number" 
                  class="form-control" 
                  id="duration" 
                  name="duration"
                  [(ngModel)]="course.duration"
                  required
                  #duration="ngModel">
            <div [hidden]="duration.valid || duration.pristine" class="alert alert-danger">
              Please select the course duration
            </div>
            <div [hidden]="duration.value > 0" class="alert alert-danger">
              Duration must be greater than 0
            </div>
        </div>
        <div class="form-group">
            <label for="course.teacher">Taught by</label>
            <div class="dropdown">
                <select class="form-control" 
                        id="teacher" 
                        name="teacher" 
                        [(ngModel)]="course.teacher" 
                        required #teacher="ngModel">
                    <option  *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.name}} {{teacher.lastName}}</option>
                </select>
            </div>
            <div [hidden]="teacher.valid || teacher.pristine" class="alert alert-danger">
              Please select a teacher
            </div>
        </div>
        <button type="button" class="btn btn-default"
            (click)="onSubmit(); courseForm.reset()"
            [disabled]="!courseForm.form.valid">Save</button>
         <button type="button" class="btn btn-default"
              routerLink="/courses">Back</button>
    </form>
</div>
